In [2]:
# creating an array using numpy
import numpy as np

In [3]:
#create a list
list1 = [1, 2, 3, 4]

In [4]:
# instantiate an array as a numpy array an pass the list as an object
array1 = np.array(list1)

In [5]:
# create another list
list2 = [11, 22, 33, 44]

In [6]:
# combine the lists
multiList = [list1, list2]

In [9]:
# create a matrix
array2 = np.array(multiList)

In [10]:
array2

array([[ 1,  2,  3,  4],
       [11, 22, 33, 44]])

In [12]:
array2.shape

(2, 4)

In [13]:
# find datatype
array2.dtype

dtype('int32')

In [15]:
# a special case: an array of all zeros
my_zero_array = np.zeros(5)

In [16]:
my_zero_array.dtype

dtype('float64')

In [17]:
#create a multi-dimensional array of ones
np.ones([5,5])

array([[ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.]])

In [18]:
#create an empty array
np.empty(5)

array([  1.27253670e-311,   1.89145198e-307,   3.11522733e-307,
         2.11392372e-307,   1.60216183e-306])

In [19]:
# create an identity matrix (google it later, he didn't explain)
np.eye(5)

array([[ 1.,  0.,  0.,  0.,  0.],
       [ 0.,  1.,  0.,  0.,  0.],
       [ 0.,  0.,  1.,  0.,  0.],
       [ 0.,  0.,  0.,  1.,  0.],
       [ 0.,  0.,  0.,  0.,  1.]])

In [20]:
# arange(start, stop, [, step ] dtype)
np.arange(5)

array([0, 1, 2, 3, 4])

In [21]:
np.arange(5, 50, 2)

array([ 5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37,
       39, 41, 43, 45, 47, 49])