In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
obj = Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [3]:
# A Series is an object with Inidices and Values.
# We can call each:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [4]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
# for our demonstration
wwII_casualties = Series([8700000, 4300000, 3000000, 2100000, 400000], index=['USSR', 'Germany', 'China', 'Japan', 'USA'])
wwII_casualties

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [6]:
wwII_casualties['USSR']

8700000

In [7]:
# we can query our dataset, for instance: Countries with casualties > 4m
wwII_casualties[wwII_casualties>4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [8]:
# we can also treat a Series as an ordered dictionary
# if we want to check to see if a value is in a Series using the 'in' keyword
'USSR' in wwII_casualties

True

In [9]:
'Canada' in wwII_casualties

False

In [10]:
# we can convert a Series into a dictionary
ww2_dict = wwII_casualties.to_dict()
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [12]:
# or vice/versa
ww2_series = Series(ww2_dict)
ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [13]:
# next demo, create a list
countries = ['China', 'Germany', 'Japan', 'USA', 'USSR', 'Argentina']

In [14]:
# we can set the index of a dictionary to a list and create a Series
obj2 = Series(ww2_dict, index=countries)
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [15]:
# locating Null values in a Series method one:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [16]:
# Locating Null values in a Series method two:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [17]:
# we can add two Series, regardless of order (they match in index)
ww2_series + obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [18]:
# we can give our series objects titles:
obj2.name = "WWII Casualties"
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: WWII Casualties, dtype: float64

In [19]:
# We can also label the index:
obj2.index.name = 'Country'
obj2

Country
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: WWII Casualties, dtype: float64